:root {
    --primary-beige: #FFF8EA; /* content background,header text,sidebar text*/
    --primary-pink: #A77979; /* sidebar */
    --primary-brown: #472D2D; /* header background */
    --primary-grey: #2E2B2B; /* modal background */
    --primary-green: #51894D; /* add buttons */
    --primary-red: #863B3B; /* remove/cancel buttons */
    --secondary-brown: #594545; /* content text */
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

body {
    background-color: var(--primary-beige);
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-brown);
    line-height: 1.6;
    letter-spacing: 1px;
}

/* HEADER */
.header-wrapper {
    display:flex;
    height: 10vh;
    background-color: var(--primary-brown);
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo {
    color:var(--primary-beige);
    font-weight: 700;
    font-size: 2rem;
}
.contact-link{
    color: var(--primary-beige);
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
}
.contact-link:hover{
    border-bottom: 2px solid var(--primary-beige);
}
/* MAIN CONTENT */

.main {
    display:grid;
    height: 90vh;
    grid-template-columns: 300px 1fr;
}

/* SIDEBAR & PROJECTS */
.sidebar{
    grid-column: 1/2;
    background-color: var(--primary-grey);
    color: var(--primary-beige);
    font-size: 1.3rem;
    border-right: 1px solid var(--primary-grey);
    padding: 30px 20px;
}
.predefined-lists{
    margin-bottom: 25px;
}

li {
    font-weight: 200;
    padding-left: 20px;
}

.lists-title {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-beige);
    padding-left: 20px;   
}

li:hover {
    cursor: pointer;
    background-color: #fff8ea80;
    border-radius: 5px;
}
.open-project-modal{
    padding-left: 20px;
    margin-top: 15px;
    font-weight: 200;
    color: var(--primary-beige);
}

.open-project-modal:hover{
    cursor: pointer;
    background-color: #51894d90;
    border-radius: 5px;
}

/* SPACE FOR TO DO'S */
.content {
    grid-column: 2/3;
    padding: 30px 50px;
}

.title {
    font-weight: 700;
    font-size: 3rem;
    color: var(--primary-brown);
    padding-left: 5%;
}

/* CARD STYLING*/
.card {
    display: flex;
    justify-content: space-between;
    padding: 10px 5% 10px 5%;
    margin: 10px 0px;
    align-items: center;
    align-content: center;
}

.task-name{
    font-weight: 200;
}
.card:hover{
    background-color: #2e2b2b2d;
    border-radius: 5px;
}
.card-wrapper-one,
.card-wrapper-two{
    display:flex;
    gap: 10px;
    justify-items: center;
    align-self: center;
}
.description {
    padding: 0px 10px;
}
.priority-high{
    color:var(--primary-red);
}
.priority-low{
    color:var(--primary-green);
}
i {
    align-self: center;
    justify-self: center;
}
i:hover{
    cursor: pointer;
}

/* MODAL & MODAL CONTENT */
.modal {
    display:none;
    position: relative;
    z-index: 1;
    background-color: #2e2b2b2d;
    color: var(--primary-brown);
    border-radius: 5px;
    padding: 10px 20px 10px 5%;
}
.project-modal{
    padding: 10px 20px 10px 5%;
}
.open-modal{
    font-weight: 200;
    color: var(--primary-grey);
    font-size: 1.3rem;
    padding: 10px 20px 10px 5%;
    display:block;
}
.open-modal:hover{
    cursor: pointer;
    background-color: #2e2b2b2d;
    border-radius: 5px; 
}

.input-project {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.add-project{
    margin-right:17px;
}
.add-task,
.close-modal,
.add-project,
.close-project-modal{
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.add-task:hover,
.add-project:hover {
  background-color: #51894d90;
}
.close-modal:hover,
.close-project-modal:hover {
    background-color: var(--primary-red);
    color:var(--primary-beige);
  }


.open-project-modal {
    display:block;
}
.project-modal{
    display:none;
}



/* global settings */
a,
a:visited {
    text-decoration: none;
}
li {
    list-style-type: none;
}

