:root {
    --primary-white: #EEEEEE; /* content background,header text,sidebar text*/
    --primary-purple: #18122B; /* header background */
    --purple-background: #393053;
    --primary-green: #51894D; /* add buttons */
    --primary-red: #EB455F; /* remove/cancel buttons */
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

body {
    background-color: var(--primary-white);
    font-family: 'Roboto', sans-serif;
    color: var(--primary-purple);
    line-height: 1.6;
    letter-spacing: 1px;
}

/* HEADER */
.header-wrapper {
    display:flex;
    height: 10vh;
    background-color: var(--purple-background);
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.logo {
    color:var(--primary-white);
    font-weight: 700;
    font-size: 2rem;
}
.contact-link,
.footer-link{
    color: var(--primary-white);
    font-weight: 700;
    font-size: 1.3rem;
    cursor: pointer;
    text-align: center;
    margin-right: 100px;
}
.footer-link{
    font-weight: 500;
    font-size: 1rem;
}
.contact-link:hover{
    border-bottom: 2px solid var(--primary-white);
}
/* MAIN CONTENT */

.main {
    display:grid;
    height: 85vh;
    grid-template-columns: 300px 1fr;
}

/* SIDEBAR & PROJECTS */
.sidebar{
    grid-column: 1/2;
    background-color: var(--primary-white);
    color: var(--primary-purple);
    font-size: 1.3rem;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 30px 20px;
}
.predefined-lists{
    margin-bottom: 25px;
}

.proj {
    display:flex;
    justify-content: space-between;
    font-weight: 200;
    padding-left: 20px;
    padding-right: 20px;
}

.lists-title {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-purple);
    padding-left: 20px;   
}

.proj:hover{
    background-color: #51894d90;
    border-radius: 5px;
}
.proj-title:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.open-project-modal{
    display:block;
    padding-left: 20px;
    margin-top: 15px;
    font-weight: 200;
    color: var(--primary-purple);
    border-radius: 5px;
}

.open-project-modal:hover{
    cursor: pointer;
    background-color: #51894d90;
    border-radius: 5px;
}

/* SPACE FOR TO DO'S */
.content {
    grid-column: 2/3;
    padding: 30px 50px;
}

.title-wrapper{
    display:flex;
    justify-content: center;
    color: var(--primary-purple);
}

.title{
    padding: 0px 20px;
    font-weight: 700;
    font-size: 3rem;
    border-bottom: 3px solid var(--primary-purple);
}
.task-title {
    display:flex;
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary-purple);
    padding-left: 5%;
}

/* CARD STYLING*/
.card {
    /* display: flex;
    justify-content: space-between;
    padding: 10px 5% 10px 5%;
    margin: 10px 0px;
    align-items: center;
    align-content: center; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px 5% 10px 5%;
    margin: 10px 0px;
}

.task-name{
    font-weight: 600;
    color:var(--primary-purple);
}
.description{
    color:var(--primary-purple);    
    font-style: italic;
}
.card-wrapper-two{
    grid-column: 3/4;
}
.card:hover{
    background-color: #59454525;
    border-radius: 20px;
}
.card-wrapper-one {
    display:flex;
    gap: 10px;
    justify-items: center;
    align-self: center;
}
.card-wrapper-two{
    display:flex;
    gap: 10px;
    justify-items: center;
    align-self: center;
    justify-content: flex-end;
}
.description {
    padding: 0px 10px;
}
.priority-High{
    color:var(--primary-red);
}
.priority-Low{
    color:var(--primary-green);
}
i {
    align-self: center;
    justify-self: center;
}
i:hover{
    cursor: pointer;
}

/* MODAL & MODAL CONTENT */
.modal {
    display:none;
    position: relative;
    z-index: 1;
    background-color: #2e2b2b2d;
    color: var(--primary-purple);
    border-radius: 20px;
    padding: 10px 20px 10px 5%;
}
.project-modal{
    display:none;
    padding: 10px 20px 10px 5%;
}
.open-modal{
    font-weight: 200;
    color: var(--primary-purple);
    font-size: 1.3rem;
    padding: 10px 20px 10px 5%;
    display:block;
}
.open-modal:hover{
    cursor: pointer;
    background-color: #51894d90;
    border-radius: 20px;
}

.input-project {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.add-project{
    margin-right:20px;
}
.add-task,
.close-modal,
.add-project,
.close-project-modal{
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.add-task:hover,
.add-project:hover {
  background-color: #51894d90;
}
.close-modal:hover,
.close-project-modal:hover {
    background-color: var(--primary-red);
    color:var(--primary-white);
  }

/*footer */
.footer{ 
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: var(--purple-background);
    color: var(--primary-white);
    justify-content: center;
    align-items: center;
}

/* global settings */
a,
a:visited {
    text-decoration: none;
}
li {
    list-style-type: none;
}

