* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'LibertinusMonoMono';
    font-weight: normal;
    font-style: normal;
    display:grid;
    height: 100vh;
    background-color: var(--website-background-color);  
}

:root {
    --website-background-color: #EEEEEE;
    --sidebar-background-color: #c65d7b;
    --card-background-color: #f3f3f8e6;
    --header-background-color: #f3f3f8e6;
    --button-background-color: #C65D7B;

    --text-color-content: rgb(62, 20, 20);
    --sidebar-text-color: #FDF6EC;
    --card-text-color: rgb(62, 20, 20);
    --book-title-color: rgb(62, 20, 20);
    --button-text-color: #FDF6EC;
    --heading-text-color: #C65D7B;
    --subtitle-text-color: #2C3639;
    --user-text-color: #C65D7B;
}

.sidebar {
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-text-color);
    align-items: center;
    padding: 3vh 40px 0px 40px;
}


.sidebar-header,   
.projects, 
.today,
.week,
.month{
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-self: left;
    padding: 30px 0px 0px 0px;
}
.profile-picture {
    border-radius: 50%;
}

.sidebar .icon {
    justify-self: self-start;
    align-self: center;
    padding-right: 30px;
}

.sidebar .title {
    justify-self: start;
    align-self: center;
}
.sidebar-header:hover,
.title:hover{
    cursor: pointer;
}


.header-title {
    font-size: 1.3rem;
    color: var(--heading-text-color);
}
.right-wrapper {
    grid-column: 2/5;
    display: grid;
    align-self: flex-start;
}

.header {
    display: grid;
    background-color: var(--header-background-color);
    padding: 10px 0 3vh 0;
}

.header-first-row,
.header-second-row {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;  
    justify-self: left;
    padding: 10px 20px;
}

.header-first-row-left,
.header-second-row-left {
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 100px 400px;
    justify-self: left;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

img.search-icon,
img.profile-picture {
    justify-self: right;
} 
input {
    border: 1px solid black;
}

.header-first-row-right{
    display: grid;
    grid-column: 3/4;
    grid-template-columns: 20px 30px 100px;
    justify-self: right;
    align-items: center;
    gap: 20px;
}
/* hidden for when modal will be added
.header-second-row-right{
    display: grid;
    grid-column: 3/4;
    grid-template-columns: repeat(3,1fr);
    justify-self: right;
    align-items: center;
    gap: 20px;
} */ 

.content-container {
    background-color: var(--content-background-color);
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.library-space {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    margin: 0px 20px;
    grid-auto-rows: max-content;
}

.left-content-title {
    display: grid;
    align-self:flex-start;
    grid-column: span 2;
    justify-self: flex-start;
    justify-items: flex-start;
}

.book {
    display: grid;
    padding: 20px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.36);
}

form {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.36);
    padding: 20px;
    background-color: var(--card-background-color);
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}

.right-content {
    display: grid;
    grid-column:3/4;
    align-self: flex-start;
    gap: 10px;
    margin: 0px 20px;
}

.form-container {
    display:grid;
    gap: 10px;
}

.checkbox-wrapper {
    vertical-align: middle;
}

/* font styles */
.right-content-title,
.left-content-title {
    color: var(--text-color-content);
    font-size: 1.5rem;
    font-weight: 900;
    font-style: italic;
    padding: 10px 0px 10px 20px;
    letter-spacing: 1px;
}

.greeting-text{
    color: var(--text-color-content);
    font-size: 0.9rem;
    font-weight: 900;
    letter-spacing: 1px;
}

.sidebar-title {
    color: var(--sidebar-text-color);
    font-size: 1.8rem;
    align-self: center;
    padding-right: 10px;
    font-weight: 900;   
    letter-spacing: 1px;
}

.sidebar .title {
    color: var(--sidebar-text-color);
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.subtitle {
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--subtitle-text-color);
    font-weight: 500;
    opacity: 70%;
    font-size: 0.8rem;
}

.book-title {
    color: var(--book-title-color);
    font-weight: 900;
    font-style: italic;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.book-author,
.book-pages,
label {
    color: var(--card-text-color);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.3rem;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.status,
.remove-book,
.clear-inputs {
    justify-self: flex-end;
    margin-bottom: 10px;  
    max-width: fit-content;
}
.buttons-wrapper > button {
    justify-content: center;
    margin-right: 20px;
}
.remove-book {
    margin-bottom: 20px;
}
a.user-name-bio,
a.user-name {
    color: var(--user-text-color);
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

/* all hovers */
button:hover,
.user-name:hover,
.user-name-bio:hover,
.user-name:hover{
    transform: scale(1.02);
    cursor: pointer;
}

a,
a:visited {
    text-decoration: none;
}

/* all box effects, shadows and styles */

.header {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.sidebar {
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}

.book {
    background-color: var(--card-background-color);
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}

button {
  background-color: var(--button-background-color);
  box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
  border-radius: 4px;
  border-style: none;
  color: var(--button-text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  padding: 8px 15px 8px;
  text-align: center;
}

button:hover,
button:focus {
  opacity: .75;
}